<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

<div ng-app="" ng-init="quantity=1;price=5;names=['kayna','é','gay']">

  <p>Name: <input type="text" ng-model="name"></p>

  <p ng-bind="name"></p>

<img src="C:\Git Tarefa\Imagens\tomato.jpg" alt="Tomato" width=220 height=220>

<p>{{name}} just got pranked</p>

<img src="C:\Git Tarefa\Imagens\Christao.jpg" alt="Jesus" width=260 height=260>


people: <input type="number" ng-model="quantity">
	
prayers per people:    <input type="number" ng-model="price">


total of prayers: {{ quantity * price }}
<ul>
    <li ng-repeat="x in names">
      {{ x }}
    </li>
  </ul>
<img src="C:\Git Tarefa\Imagens\meaninc.jpg" alt="Jesus" width=260 height=260>
</div>


	
</body>
</html>﻿
